<div id="doc" class="" ng-controller="LoginController">

    <div class="form">
 
          <h1>Welcome Back!</h1>
          
          <form ng-submit="SignIn()">
          
         <div class="field-wrap">
            <input type="email" ng-model="email" placeholder="Email Address" required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <input type="password" ng-model="password" placeholder="Set A Password" required autocomplete="off"/>
          </div>
          
          <button type="submit" class="button button-block"/>Login</button>
          </form>     
</div> <!-- /form -->


